@import "modules/global";

.card{
	padding: 1em;
	background: #eee;
	border: 1px solid black;
	float: left;
}
.cardWrap{
	width: 90%;
	padding: 2em;
}
.product-slide-out{
	background: #ddd;
	clear:both;
	float: none;
	
}
.hidden{
	background: red;
}
.visible{
	background: green;
}